mine.py

.env
.venv/

build/
dist/
coverage/

node_modules/
.cache/
.history/
tmp/

logs/

*.cache/vscode-language-server*
*.vscode/server-state.json

test/
__pycache__/

README.md
LICENSE
CHANGELOG.md

pytype/
mypy/
.idea/
.project
.project.toml
venv/
__pypackages__/